<!DOCTYPE html>
<html>
<head>
	<title>Dang ky</title>
</head>
<body>
	<form method="POST" action="/dangky/student">
		<tr>
			<td>User</td>
			<input type="text" name="user">
		</tr><br>
		<tr>
			<td>Pass</td>
			<input type="text" name="pass">
		</tr><br>
		<input type="submit" value="OK">
	</form>
</body>
</html>